In [1]:
import numpy as np
import pandas as pd
#import time dependencies
from datetime import datetime
import time
from datetime import date, timedelta
import datetime
#import statistics dependencies
from scipy.stats import linregress
#import matplotlib dependencies
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import matplotlib.lines as mlines
# Import the API key.
from config import EIA_key
import eia
# Import the requests library.
import requests

In [2]:
#this is the start and end date for matplotlib
start_date = "2018-01-01"
end_date =  datetime.datetime.now()
# end_date= datetime.datetime.now()

In [3]:
# UK API
API_Call_UK=f"http://api.eia.gov/series/?api_key={EIA_key}&series_id=PET.WCESTUS1.W"
Series_Name_UK= "Liquefied U.S. Natural Gas Exports by Vessel to United Kingdom, Monthly"
Series_ID_UK= "NG.NGM_EPG0_EVE_NUS-NUK_MMCF.M"
# Turkish API
API_Call_TK=f"http://api.eia.gov/series/?api_key={EIA_key}&series_id=PET.WCESTUS1.W"
Series_Name_TK= "Liquefied U.S. Natural Gas Exports by Vessel to Turkey, Monthly"
Series_ID_TK= "NG.NGM_EPG0_EVE_NUS-NTU_MMCF.M"
#Spanish API
API_Call_SP=f"http://api.eia.gov/series/?api_key={EIA_key}&series_id=PET.WCESTUS1.W"
Series_Name_SP= "U.S. Liquefied Natural Gas Exports by Vessel to Spain, Monthly"
Series_ID_SP= "NG.NGM_EPG0_EVE_NUS-NSP_MMCF.M"
#South Korean API
API_Call_SK=f"http://api.eia.gov/series/?api_key={EIA_key}&series_id=PET.WCESTUS1.W"
Series_Name_SK= "Liquefied U.S. Natural Gas Exports by Vessels to South Korea, Monthly"
Series_ID_SK= "NG.NGM_EPG0_EVE_NUS-NKS_MMCF.M"
#Japanese API
API_Call_JP=f"http://api.eia.gov/series/?api_key={EIA_key}&series_id=PET.WCESTUS1.W"
Series_Name_JP= "Liquefied U.S. Natural Gas Exports by Vessel to Japan, Monthly"
Series_ID_JP= "NG.NGM_EPG0_EVE_NUS-NJA_MMCF.M"
#Chinese API
API_Call_CH=f"http://api.eia.gov/series/?api_key={EIA_key}&series_id=PET.WCESTUS1.W"
Series_Name_CH= "U.S. Liquefied Natural Gas Exports by Vessel to China, Monthly"
Series_ID_CH= "NG.NGM_EPG0_EVE_NUS-NCH_MMCF.M"
#Italian API
API_Call_IT=f"http://api.eia.gov/series/?api_key={EIA_key}&series_id=PET.WCESTUS1.W"
Series_Name_IT= "Liquefied U.S. Natural Gas Exports by Vessel to Italy, Monthly"
Series_ID_IT= "NG.NGM_EPG0_EVE_NUS-NIT_MMCF.M"
#French API
API_Call_FR=f"http://api.eia.gov/series/?api_key={EIA_key}&series_id=PET.WCESTUS1.W"
Series_Name_FR= "U.S. Liquefied Natural Gas Exports by Vessel to France, Monthly"
Series_ID_FR= "NG.NGM_EPG0_EVE_NUS-NFR_MMCF.M"

In [4]:
#Practice 
API_Calls=[API_Call_UK, API_Call_TK, API_Call_SP, API_Call_SK, API_Call_JP, API_Call_CH, API_Call_IT,API_Call_FR]
Series_Names=[Series_Name_UK, Series_Name_TK, Series_Name_SP, Series_Name_SK, Series_Name_JP, Series_Name_CH, Series_Name_IT, Series_Name_FR]
Series_IDs=[Series_ID_UK, Series_ID_TK, Series_ID_SP, Series_ID_SK, Series_ID_JP, Series_ID_CH, Series_ID_IT, Series_ID_FR]

# list_countries=[UKGasImports, TurkishGasImports, SpanishGasImports, SouthKoreaGasImports, JapaneseGasImports]
list_headers=['Liquefied U.S. Natural Gas Exports by Vessel to United Kingdom, Monthly (Million Cubic Feet)',
             'Liquefied U.S. Natural Gas Exports by Vessel to Turkey, Monthly (Million Cubic Feet)',
             'U.S. Liquefied Natural Gas Exports by Vessel to Spain, Monthly (Million Cubic Feet)',
             'Liquefied U.S. Natural Gas Exports by Vessels to South Korea, Monthly (Million Cubic Feet)',
             'Liquefied U.S. Natural Gas Exports by Vessel to Japan, Monthly (Million Cubic Feet)',
             'U.S. Liquefied Natural Gas Exports by Vessel to China, Monthly (Million Cubic Feet)',
             'Liquefied U.S. Natural Gas Exports by Vessel to Italy, Monthly (Million Cubic Feet)',
             'U.S. Liquefied Natural Gas Exports by Vessel to France, Monthly (Million Cubic Feet)']
numbers=(1,2,3,4,5,6,7,8)
names=('UK_Gas_Imports','Turkish_Gas_Imports','Korean_Gas_Imports','Japanese_Gas_Imports','Chinese_Gas_Imports','Spanish_Gas_Imports','Italian_Gas_Imports', 'French_Gas_Imports')

In [5]:
# #Practice
d={}
imports=[] 
bigdf = pd.DataFrame()
UK_Gas_Imports=pd.DataFrame()
Turkish_Gas_Imports=pd.DataFrame()
Korean_Gas_Imports=pd.DataFrame()
Japanese_Gas_Imports=pd.DataFrame()
Chinese_Gas_Imports=pd.DataFrame()
Spanish_Gas_Imports=pd.DataFrame()
Italian_Gas_Imports=pd.DataFrame()
French_Gas_Imports=pd.DataFrame()

for i,j,k,m,n,name in zip(API_Calls, Series_Names, Series_IDs, list_headers, numbers, names):
    API_Call=i
    Series_Name= j
    Series_ID= k
    #install EIA package--- pip install EIA_python
    #pip install pyOpenSSL to get around SSL error
    #these are the API keys I set up
    api_key = EIA_key
    api = eia.API(api_key)
    #import data but still need to clean it
    series_search = api.data_by_series(series=Series_ID)
    df = pd.DataFrame(series_search)
    # define a series and pass through api and Series_ID
    def retrieve_time_series(api, Series_ID):
        """
        Return the time series dataframe, based on API and unique Series ID
        """
        #Retrieve Data By Series ID 
        series_search = api.data_by_series(series=Series_ID)
        ##Create a pandas dataframe from the retrieved time series
        global df
        df = pd.DataFrame(series_search)
        return df
    # define another function main to run the script through
    def main():
        """
        Run main script
        """
        #Create EIA API using your specific API key
        api_key = EIA_key
        api = eia.API(api_key)
    #     #Declare desired series ID
    #     Series_ID="PET.WGTSTUS1.W"
        df=retrieve_time_series(api, Series_ID)
        #Print the returned dataframe df
        print(df)
    req = requests.get(i, verify = False)
    #Clean the dataframe by resetting the index because the date is automatically set as the index
    df.reset_index(inplace=True)
    #{original header: new name given}
    df.rename(columns={m:name}, inplace=True)
    #{index:Date}
    df.rename(columns={'index':'Date'}, inplace=True)
    #create a dataframe [[date, name of each country]]
    d=df[['Date', name]]
    #convert date to datetime[64]
    d['Date']=pd.to_datetime(d['Date'], errors='coerce')
    bigdf['Date']=d['Date']
    bigdf[name] = d[name]
    

#     imports[name]=imports[d[name]]
#     imports.append(d[name])
    #d.append() #with a new column for each 
#     d.to_csv(f'{name}.csv')
#     name=d

    #append to dictionary d
#     b.append(df[['Date', name]])
bigdf

,Date,UK_Gas_Imports,Turkish_Gas_Imports,Korean_Gas_Imports,Japanese_Gas_Imports,Chinese_Gas_Imports,Spanish_Gas_Imports,Italian_Gas_Imports,French_Gas_Imports
0,2018-10-01,3410,0,0,0,4375,0,3328,4846.0
1,2018-11-01,6267,0,0,0,4421,0,3120,9991.0
2,2018-12-01,3624,0,0,0,1463,0,3372,3453.0
3,2019-01-01,7213,0,0,0,5854,0,0,7303.0
4,2019-03-01,20695,0,0,0,5884,1127,0,20853.0
5,2019-04-01,13499,0,0,0,1462,0,0,17092.0
6,2019-05-01,10373,0,2930,0,2929,0,0,6621.0
7,2019-08-01,3711,0,0,0,5850,0,0,3249.0
8,2019-09-01,3669,2941,0,0,4385,0,0,6740.0
9,2019-10-01,1335,0,0,0,2958,0,0,14228.0
10,2019-11-01,3303,2886,0,0,2925,0,0,26946.0
11,2019-12-01,26260,2936,0,10166,5842,0,6468,14758.0
12,2020-01-01,39957,0,10002,0,4417,0,4785,6563.0
13,2020-02-01,30054,7402,1766,0,4415,0,0,20520.0
14,2020-03-01,30428,3521,0,7042,4456,0,6137,23491.0
15,2020-04-01,28884,0,0,3295,4432,0,10502,16336.0
16,2020-05-01,20202,0,0,6818,2943,0,3454,6133.0
17,NaT,2908,0,0,7431,4879,0,6684,NaN

In [6]:
d

         Date  French_Gas_Imports
0  2018-10-01                4846
1  2018-11-01                9991
2  2018-12-01                3453
3  2019-01-01                7303
4  2019-03-01               20853
5  2019-04-01               17092
6  2019-05-01                6621
7  2019-08-01                3249
8  2019-09-01                6740
9  2019-10-01               14228
10 2019-11-01               26946
11 2019-12-01               14758
12 2020-01-01                6563
13 2020-02-01               20520
14 2020-03-01               23491
15 2020-04-01               16336
16 2020-05-01                6133

In [7]:
# UKGasImports=bigdf[['Date', 'UK Gas Imports']]
# UKGasImports

In [8]:
# UKGasImports_date=        UKGasImports[(UKGasImports['Date']>start_date)& (UKGasImports['Date']< end_date)]
# TurkishGasImports_date=   TurkishGasImports[(TurkishGasImports['Date']>start_date)& (TurkishGasImports['Date']< end_date)]
# SpanishGasImports_date=   SpanishGasImports[(SpanishGasImports['Date']>start_date)& (SpanishGasImports['Date']< end_date)]
# KoreanGasImports_date=    KoreanGasImports[(KoreanGasImports['Date']>start_date)& (KoreanGasImports['Date']< end_date)]
# JapaneseGasImports_date=  JapaneseGasImports[(JapaneseGasImports['Date']>start_date)& (JapaneseGasImports['Date']< end_date)]

# # JapaneseGasImports_date=  JapaneseGasImports[(JapaneseGasImports['Date']>start_date)& (JapaneseGasImports['Date']< end_date)]
# ChineseGasImports_date=   ChineseGasImports[(ChineseGasImports['Date']>start_date)& (ChineseGasImports['Date']< end_date)]
# ItalianGasImports_date=   ItalianGasImports[(ItalianGasImports['Date']>start_date)& (ItalianGasImports['Date']< end_date)]
# FrenchGasImports_date=    FrenchGasImports[(FrenchGasImports['Date']>start_date)& (FrenchGasImports['Date']< end_date)]